.cid-tablestyle {
  padding-top: 0px;
  padding-bottom: 120px;
  background-color: #636363;
}
.cid-tablestyle .mbr-section-subtitle {
  color: #a0ffb9;
}
.cid-tablestyle .container-table {
  margin: 0 auto;
}
.cid-tablestyle .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-tablestyle .dataTables_wrapper {
  display: block;
}
.cid-tablestyle .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-tablestyle .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-tablestyle table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #353535;
  margin-bottom: 0;
}
.cid-tablestyle table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-tablestyle table th:hover {
  background: #353535;
  color: #ffffff;
}
.cid-tablestyle table td {
  border-top: 1px solid #353535;
}
.cid-tablestyle table.table {
  background: #515151;
}
.cid-tablestyle .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-tablestyle .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-tablestyle .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-tablestyle .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
  color: #a0ffb9;
}
@media (max-width: 992px) {
  .cid-tablestyle .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-tablestyle .dataTables_filter {
    text-align: center;
  }
  .cid-tablestyle .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-tablestyle .mbr-section-title {
  color: #ffffff;
}
.cid-tablestyle .head-item {
  color: #bbbbbb;
}
.cid-tablestyle .body-item {
  color: #ffffff;
}
.cid-tablestyle LABEL {
  color: #a0ffb9;
}

.cid-tablestyle2 {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #515151;
}
.cid-tablestyle2 .mbr-section-subtitle {
  color: #a0ffb9;
}
.cid-tablestyle2 .container-table {
  margin: 0 auto;
}
.cid-tablestyle2 .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-tablestyle2 .dataTables_wrapper {
  display: block;
}
.cid-tablestyle2 .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-tablestyle2 .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-tablestyle2 table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #353535;
  margin-bottom: 0;
}
.cid-tablestyle2 table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-tablestyle2 table th:hover {
  background: #353535;
  color: #ffffff;
}
.cid-tablestyle2 table td {
  border-top: 1px solid #353535;
}
.cid-tablestyle2 table.table {
  background: #636363;
}
.cid-tablestyle2 .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-tablestyle2 .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-tablestyle2 .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-tablestyle2 .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
  color: #a0ffb9;
}
@media (max-width: 992px) {
  .cid-tablestyle2 .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-tablestyle2 .dataTables_filter {
    text-align: center;
  }
  .cid-tablestyle2 .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-tablestyle2 .mbr-section-title {
  color: #ffffff;
}
.cid-tablestyle2 .head-item {
  color: #bbbbbb;
}
.cid-tablestyle2 .body-item {
  color: #ffffff;
}
.cid-tablestyle2 LABEL {
  color: #a0ffb9;
}